orchestrator/n8n/workflows/003-full-pipeline-github-to-pr.json
{
  "name": "003 - Full Pipeline: GitHub → Converter → PR",
  "nodes": [
    {
      "parameters": {
        "path": "mbse-change",
        "responseMode": "onReceived"
      },
      "id": "webhook-github-event",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "return $json;"
      },
      "id": "logger-1",
      "name": "Log event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "http://mbse-bridge:5000/run/capella-to-arcgis",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mbse_path",
              "value": "={{$json[\"mbse_path\"] || '/git_repo/mbse/exports/sample_capella_export.json'}}"
            }
          ]
        }
      },
      "id": "call-converter",
      "name": "Call Capella→GeoJSON Converter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "functionCode": "return $json;"
      },
      "id": "logger-2",
      "name": "Log converter output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "functionCode": "const commitHash = $json.commitHash || 'unknown';\nconst branchName = `auto-update-geojson-${Date.now()}`;\nconst prTitle = `chore: auto-generated GeoJSON from MBSE (commit ${commitHash.slice(0,7)})`;\nreturn {\n  branchName,\n  prTitle,\n  commitMessage: `Auto-generated GeoJSON from MBSE export\\n\\nTrigger commit: ${commitHash}`,\n  geojsonPath: $json.result?.geojson_path || '/git_repo/mbse/exports/output_geojson.json'\n};"
      },
      "id": "prepare-pr-data",
      "name": "Prepare PR data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/jrskim7/federated-rural-osdk-platform/git/refs",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={\"ref\": \"refs/heads/{{$json.branchName}}\", \"sha\": \"main\"}"
      },
      "id": "create-branch",
      "name": "Create branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/jrskim7/federated-rural-osdk-platform/contents/mbse/exports/output_geojson.json",
        "method": "PUT",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={\"message\": \"feat: update GeoJSON from MBSE converter\", \"content\": \"{{Buffer.from($json.result || '{}').toString('base64')}}\", \"branch\": \"{{$json.branchName}}\"}"
      },
      "id": "commit-geojson",
      "name": "Commit GeoJSON file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Log event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log event": {
      "main": [
        [
          {
            "node": "Call Capella→GeoJSON Converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Capella→GeoJSON Converter": {
      "main": [
        [
          {
            "node": "Log converter output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log converter output": {
      "main": [
        [
          {
            "node": "Prepare PR data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PR data": {
      "main": [
        [
          {
            "node": "Create branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create branch": {
      "main": [
        [
          {
            "node": "Commit GeoJSON file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
