orchestrator/n8n/workflows/004-minimal-pipeline.json
{
  "name": "004 - Minimal Pipeline: GitHub → Converter",
  "nodes": [
    {
      "parameters": {
        "path": "mbse-change",
        "responseMode": "onReceived"
      },
      "id": "webhook-github-event",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://mbse-bridge:5000/run/capella-to-arcgis",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mbse_path",
              "value": "={{$json[\"mbse_path\"] || '/git_repo/mbse/exports/sample_capella_export.json'}}"
            }
          ]
        }
      },
      "id": "call-converter",
      "name": "Call Capella→GeoJSON Converter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "const branchName = `auto-update-geojson-${Date.now()}`;\nreturn {\n  branchName,\n  commitMessage: 'Auto-generated GeoJSON from MBSE export',\n  geojsonData: $json.result\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/jrskim7/federated-rural-osdk-platform/git/refs",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={\"ref\": \"refs/heads/{{$json.branchName}}\", \"sha\": \"main\"}"
      },
      "id": "create-branch",
      "name": "Create branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/jrskim7/federated-rural-osdk-platform/contents/mbse/exports/output_geojson.json",
        "method": "PUT",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={\"message\": \"{{$json.commitMessage}}\", \"content\": \"{{Buffer.from(JSON.stringify($json.geojsonData) || '{}').toString('base64')}}\", \"branch\": \"{{$json.branchName}}\"}"
      },
      "id": "commit-geojson",
      "name": "Commit GeoJSON file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Call Capella→GeoJSON Converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Capella→GeoJSON Converter": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Create branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create branch": {
      "main": [
        [
          {
            "node": "Commit GeoJSON file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
